# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other files that should not be tracked
.DS_Store    # MacOS directory metadata
.vscode/     # Visual Studio Code settings